.greeting {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}