.calendar-container {
    height: 343px;
    width: 218px;
    background-color: white;
}

.calendar-topBar {
    height: 35px;
    width: 85%;
    display: flex;
}

.calendar-topBar button {
    width: 40%;
    height: 27px;
    border-radius: 4px;
    border: none;
    display: block;
    font-size: 10px;
}

.calendar-button {
    background-color:#00D689;
    color: #fff;
    font-weight: 500;
}

.reminder-button {
    background-color:#F5FDFE;
    color: #999999;
    font-weight: 500
;
}